.calculator {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -55%); 

    width: 400px;
    height: 500px;
    border: 5px solid #15232d;
}

.display {
    color: white;
    background-color: #193549;
    border-bottom: 5px solid #15232d;

    margin: auto;

    text-align: end;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px [col-start]);
    grid-template-rows: repeat(5, 87.2px [row-start]);
}

.buttons * {
    text-align: center;
    line-height: 87.2px;
    border: 2px solid #15232d;
}